name: Deploy to Docker Hub and Server

on:
  push:
    branches:
      - main  # Change to your default branch
  pull_request:
    branches:
      - main  # Change this to your main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: Dockerfile  
        push: true
        tags: rifkinauvaldzaki/company-profile:latest

    - name: Deploy to server
      env:
        SERVER_PASSWORD: ${{ secrets.SERVER_PASSWORD }}
      run: |
        sshpass -p "${SERVER_PASSWORD}" ssh -o StrictHostKeyChecking=no technova@103.142.21.43 "
          docker stop company-profile-container || true &&
          docker rm company-profile-container || true &&
          docker pull rifkinauvaldzaki/company-profile:latest &&
          docker run -d --name company-profile-container -p 3003:3003 rifkinauvaldzaki/company-profile:latest
        "
